---
import { Image } from 'astro:assets';
import AboutImage from '../assets/Sand.jpg';
--- 

<section id="about-me" class="pt-20 bg-black text-white">
  <div class="container mx-auto px-4">
    <div class="grid md:grid-cols-2 gap-32 items-center">
      
      <!-- Content -->
      <div class="text-center md:text-left">
        <h2 class="text-5xl font-bold mb-6">About Me</h2>
        <p class="text-gray-300 text-base md:text-lg leading-relaxed mb-10">
          Hi, I'm <strong>Santhosh L</strong> , a Web Developer with a focus on building fast, responsive, and accessible websites and web applications. I work with modern tools like <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>Tailwind CSS</strong>, <strong>Astro JS</strong>, and <strong>React</strong> to create seamless user experiences and clean, maintainable code.
          <br /><br />
          I'm passionate about crafting intuitive interfaces, optimizing performance, and continuously learning new technologies to bring ideas to life on the web. Whether it's a landing page, full-stack project, or a custom component — I love turning concepts into real, functional digital experiences.
        </p>
        <a 
          href="/SANTHOSH_Resume.pdf" 
          download 
          class="inline-block mt-4 px-6 py-3 bg-[#FF9143] hover:bg-[#AB6432] text-white font-semibold rounded-lg shadow transition duration-300"
        >
          Download Resume
        </a>
      </div>

      <!-- Image -->
      <div class="flex justify-center">
        <Image 
          src={AboutImage} 
          alt="Santhosh L" 
          class="rounded-lg shadow-lg max-w-96 h-96"
        />
      </div>
    </div>
  </div>
</section>
