---
import { Image } from 'astro:assets';
import Button from '../components/Button.astro';
import AboutImage from '../assets/sandyy.jpg';
---

<section id="about me" class="about pt-section">
  <div class="container">
    <div class="grid">
      <div class="about__content">
        <h2>About me</h2>
        <p>
          Hi, I'm Santhosh L. I am a Web Developer who builds and maintains dynamic, responsive websites and web applications using modern technologies like HTML, CSS, JavaScript, Tailwind CSS, Astro JS, and various frameworks to create seamless and efficient user experiences.
        </p>
        <!-- <Button text="Discover more" href="/" /> -->
        <a href="/SANTHOSH_Resume.pdf" download class="resume-button">Download Resume</a>
      </div>

      <div class="about__image">
        <Image src={AboutImage} alt="About Image" />
      </div>
    </div>
  </div>
</section>

<style>
  h2 {
    margin-bottom: 1rem;
  }

  .about__content {
    margin-bottom: 2rem;
    text-align: center;
  }

  .about__content p {
    margin-bottom: 2rem;
  }

  .resume-button {
    display: inline-block;
    background-color: var(--primary-clr-400);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
  }

  .resume-button:hover {
    background-color: var(--primary-clr-400);
  }

  .about__image {
    position: relative;
  }

  @media (min-width: 768px) {
    h2 {
      text-align: left;
    }

    .about__content {
      text-align: left;
    }

    .about__content p {
      font-size: 1.1rem;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      place-items: center;
    }
  }
</style>
